.profile {
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #1F1F1F;
}

.title {
  font-size: 24px;
  font-weight: bold;
  color: #999;
  text-align: center;
  margin-bottom: 20px;
}

.login,
.join {
  font-size: 16px;
  color: #f9f9f9;
  margin: 10px 0;
}

.login p,
.join p {
  line-height: 1.5;
}
